@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Faculty+Glyphic&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
    --color-light-primary: rgb(113 81 136);
    --color-light-surface-tint: rgb(113 81 136);
    --color-light-on-primary: rgb(255 255 255);
    --color-light-primary-container: rgb(243 218 255);
    --color-light-on-primary-container: rgb(88 58 111);
    --color-light-secondary: rgb(103 90 110);
    --color-light-on-secondary: rgb(255 255 255);
    --color-light-secondary-container: rgb(238 220 245);
    --color-light-on-secondary-container: rgb(79 66 86);
    --color-light-tertiary: rgb(129 81 85);
    --color-light-on-tertiary: rgb(255 255 255);
    --color-light-tertiary-container: rgb(255 218 219);
    --color-light-on-tertiary-container: rgb(102 59 62);
    --color-light-error: rgb(186 26 26);
    --color-light-on-error: rgb(255 255 255);
    --color-light-error-container: rgb(255 218 214);
    --color-light-on-error-container: rgb(147 0 10);
    --color-light-background: rgb(255 247 253);
    --color-light-on-background: rgb(30 26 32);
    --color-light-surface: rgb(255 247 253);
    --color-light-on-surface: rgb(30 26 32);
    --color-light-surface-variant: rgb(234 223 234);
    --color-light-on-surface-variant: rgb(75 69 77);
    --color-light-outline: rgb(124 117 126);
    --color-light-outline-variant: rgb(205 195 206);
    --color-light-shadow: rgb(0 0 0);
    --color-light-scrim: rgb(0 0 0);
    --color-light-inverse-surface: rgb(51 47 53);
    --color-light-inverse-on-surface: rgb(247 238 246);
    --color-light-inverse-primary: rgb(222 184 247);
    --color-light-primary-fixed: rgb(243 218 255);
    --color-light-on-primary-fixed: rgb(42 12 64);
    --color-light-primary-fixed-dim: rgb(222 184 247);
    --color-light-on-primary-fixed-variant: rgb(88 58 111);
    --color-light-secondary-fixed: rgb(238 220 245);
    --color-light-on-secondary-fixed: rgb(34 23 41);
    --color-light-secondary-fixed-dim: rgb(210 193 217);
    --color-light-on-secondary-fixed-variant: rgb(79 66 86);
    --color-light-tertiary-fixed: rgb(255 218 219);
    --color-light-on-tertiary-fixed: rgb(51 16 20);
    --color-light-tertiary-fixed-dim: rgb(244 183 186);
    --color-light-on-tertiary-fixed-variant: rgb(102 59 62);
    --color-light-surface-dim: rgb(224 215 223);
    --color-light-surface-bright: rgb(255 247 253);
    --color-light-surface-container-lowest: rgb(255 255 255);
    --color-light-surface-container-low: rgb(250 241 249);
    --color-light-surface-container: rgb(244 235 243);
    --color-light-surface-container-high: rgb(238 230 237);
    --color-light-surface-container-highest: rgb(232 224 232);

    --color-dark-primary: rgb(222 184 247);
    --color-dark-surface-tint: rgb(222 184 247);
    --color-dark-on-primary: rgb(65 35 87);
    --color-dark-primary-container: rgb(88 58 111);
    --color-dark-on-primary-container: rgb(243 218 255);
    --color-dark-secondary: rgb(210 193 217);
    --color-dark-on-secondary: rgb(55 44 63);
    --color-dark-secondary-container: rgb(79 66 86);
    --color-dark-on-secondary-container: rgb(238 220 245);
    --color-dark-tertiary: rgb(244 183 186);
    --color-dark-on-tertiary: rgb(76 37 40);
    --color-dark-tertiary-container: rgb(102 59 62);
    --color-dark-on-tertiary-container: rgb(255 218 219);
    --color-dark-error: rgb(255 180 171);
    --color-dark-on-error: rgb(105 0 5);
    --color-dark-error-container: rgb(147 0 10);
    --color-dark-on-error-container: rgb(255 218 214);
    --color-dark-background: rgb(22 18 23);
    --color-dark-on-background: rgb(232 224 232);
    --color-dark-surface: rgb(22 18 23);
    --color-dark-on-surface: rgb(232 224 232);
    --color-dark-surface-variant: rgb(75 69 77);
    --color-dark-on-surface-variant: rgb(205 195 206);
    --color-dark-outline: rgb(150 142 152);
    --color-dark-outline-variant: rgb(75 69 77);
    --color-dark-shadow: rgb(0 0 0);
    --color-dark-scrim: rgb(0 0 0);
    --color-dark-inverse-surface: rgb(232 224 232);
    --color-dark-inverse-on-surface: rgb(51 47 53);
    --color-dark-inverse-primary: rgb(113 81 136);
    --color-dark-primary-fixed: rgb(243 218 255);
    --color-dark-on-primary-fixed: rgb(42 12 64);
    --color-dark-primary-fixed-dim: rgb(222 184 247);
    --color-dark-on-primary-fixed-variant: rgb(88 58 111);
    --color-dark-secondary-fixed: rgb(238 220 245);
    --color-dark-on-secondary-fixed: rgb(34 23 41);
    --color-dark-secondary-fixed-dim: rgb(210 193 217);
    --color-dark-on-secondary-fixed-variant: rgb(79 66 86);
    --color-dark-tertiary-fixed: rgb(255 218 219);
    --color-dark-on-tertiary-fixed: rgb(51 16 20);
    --color-dark-tertiary-fixed-dim: rgb(244 183 186);
    --color-dark-on-tertiary-fixed-variant: rgb(102 59 62);
    --color-dark-surface-dim: rgb(22 18 23);
    --color-dark-surface-bright: rgb(60 56 62);
    --color-dark-surface-container-lowest: rgb(16 13 18);
    --color-dark-surface-container-low: rgb(30 26 32);
    --color-dark-surface-container: rgb(34 30 36);
    --color-dark-surface-container-high: rgb(45 41 46);
    --color-dark-surface-container-highest: rgb(56 51 57);

    --font-display: "Faculty Glyphic", sans-serif;
    --font-detective: "Dela Gothic One", sans-serif;
    --font-packing: "Space Grotesk", sans-serif;
}

/*html {*/
/*    font-family: "Host Grotesk", sans-serif;*/
/*}*/